body{
	margin: 0px;
	font-family: Calibri, sans-serif;
	background-color: eggshell
}
label{
	font-weight: normal;
}
.content{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
}

.form{
	width: 60%;
	padding: 5px;
	border-width: 3px;
	box-shadow: 3px 3px 3px #888888;
	background-color: whitesmoke
}

tr,td{
	padding: 10px;
	padding-left:20px;
}

/* Div table code to make nice looking lists of checkable results. */
.rTable {
  display: table;
  border-spacing: 0px 5px;
  width: 100%;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #dddddd;
}
.rTableHead {
  display: table-cell;
  padding: 3px 10px;
  background-color: #eeeeff;
  font-weight: bold;
  width: 9.09%;
}

.rTableCell{
  display: table-cell;
  padding: 2px 10px;
  width: 9.09%;
  background-color: #ddddee;
  border: 1px solid #999999;
}
.rTableCellLeft{
  display: table-cell;
  padding: 2px 10px;
  width: 9.09%;
  background-color: #ddddee;
  border: 1px solid #999999;
  border-radius: 5px 0px 0px 5px;
}
.rTableCellRight{
  display: table-cell;
  padding: 2px 10px;
  width: 9.09%;
  background-color: #ddddee;
  border: 1px solid #999999;
  border-radius: 0px 5px 5px 0px;
}
.rTableRow:hover .rTableCell,.rTableRow:hover .rTableCellLeft,.rTableRow:hover .rTableCellRight {
	background-color: #ccccdd;
	cursor: pointer;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}

input[type=radio].hideme {
  display: none;
}

input[type=radio]:checked + label .rTableCell, input[type=radio]:checked + label .rTableCellLeft, input[type=radio]:checked + label .rTableCellRight {
  background-color: #eeeedd;
}