<!-- For some reason it wont work with the expand and collapse feature.-->
<script src="/js/bootstrap.min.js"></script>   
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
